@font-face { //Half Regular
    font-family: 'Half Regular';
    src: url('../fonts/HalfRegularRegular.woff2') format('woff2'),
        url('../fonts/HalfRegularRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { //Half Inline
    font-family: 'Half Inline';
    src: url('../fonts/HalfInlineRegular.woff2') format('woff2'),
        url('../fonts/HalfInlineRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { //Half 
    font-family: 'Half';
    src: url('../fonts/HalfRegular.woff2') format('woff2'),
        url('../fonts/HalfRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.comingsoon{
    font-size: 120px;
    font-family: 'Half Inline';
    user-select: none;
    color: white;
    text-align: center;
}
.wrapper{
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px;
    animation: breathing 7s ease-out infinite normal;
    @media only screen and (max-width: 600px) {
        padding: 0;
        border: none;        
    }
}   

.bottom{
    font-family: 'Half Regular';
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    bottom: 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 2px solid white;
    &:hover{
        animation:color-change-2x 2s linear infinite alternate both;
    }

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    color: white;
    overflow: hidden;
    background-color: #070707;
}

.fade{
    animation: fadeAnim  3s infinite cubic-bezier(.25,.46,.45,.94);
}
.fade2{
    animation: fadeAnim 3s infinite 1s cubic-bezier(.25,.46,.45,.94);
}
.fade3{
    animation: fadeAnim 3s infinite 2s cubic-bezier(.25,.46,.45,.94);
}

.focus-in-contract-bck{-webkit-animation:focus-in-contract-bck 1s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-contract-bck 1s cubic-bezier(.25,.46,.45,.94) both}


@keyframes fadeAnim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@-webkit-keyframes focus-in-contract-bck{0%{letter-spacing:0.4em;-webkit-transform:translateZ(50px);transform:translateZ(50px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract-bck{0%{letter-spacing:0.4em;-webkit-transform:translateZ(50px);transform:translateZ(50px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
   
@-webkit-keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}

@keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }